:root {
  --ion-color-primary: #112B52;
  --ion-color-primary-rgb: 17,43,82;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0f2648;
  --ion-color-primary-tint: #294063;  
  --ion-color-secondary: #D0C8C0;
  --ion-color-secondary-rgb: 208,200,192;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #b7b0a9;
  --ion-color-secondary-tint: #d5cec6;
  --ion-color-dark: #6E6E6E;
  --ion-color-dark-rgb: 110,110,110;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #616161;
  --ion-color-dark-tint: #7d7d7d;
  --ion-color-medium: #E3E3E3;
  --ion-color-medium-rgb: 227,227,227;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #c8c8c8;
  --ion-color-medium-tint: #e6e6e6;
  --ion-color-light: #f1f1f1;
  --ion-color-light-rgb: 241,241,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4d4d4;
  --ion-color-light-tint: #f2f2f2;
  --ion-color-success: #7EB973;
  --ion-color-success-rgb: 126,185,115;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #6fa365;
  --ion-color-success-tint: #8bc081;
  --ion-color-warning: #FCB130;
  --ion-color-warning-rgb: 252,177,48;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #de9c2a;
  --ion-color-warning-tint: #fcb945;
  --ion-color-danger: #C44646;
  --ion-color-danger-rgb: 196,70,70;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ac3e3e;
  --ion-color-danger-tint: #ca5959;
  --ion-font-family: "Heebo";
  --ion-background-color: #f1f1f1;
  --ion-text-color: #404040;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.top-row{
  background: #112B52;
}
.header{
  background: #112B52;
  text-align: center;
  padding: 8px;
}
.welcome-text{
  font-size: 30px;
  font-weight: bolder;
  color: white;
}
.welcome-text-box{
  padding: 25px 20px;
}
.card-title{
  text-align: center;
}
.task-list{
  background: #FFFFFF;
  height: 320px;
  padding: 0;
} 
.status-button{
  width: 80px;
}
.clear-button{
  padding: 0px;
}
.card-icon{
  padding: 0px;
  text-align: center;
}
.icon-size{
  height: 125px;
  width:125px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  color: #112B52;
}
.header-card{
  text-align: center;
  width: 170px;
  height: 150px;
}
.header-card-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px
}
.header-card-content{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  color: maroon;
}
.header-card-footer{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}
.task-card-title{
  background: #112B52;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.reference-list{
  height: 140px;
  padding: 0;
}
.reference-card-title{
  background: #112B52;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;

}
.step-list{
  height: 250px;
  padding: 0;
} 
.step-button{
  font-size: 20px;
  height: 35px;
  width: 35px;
  margin: 10px;
}
a{
  text-decoration: none;
}
.order-parts-header{
  background: #112B52;
  text-align: center;
  padding: 20px;
}
